#!/bin/bash
#
# MAPT hybrid install script and home page
# https://bioMAPT.github.io/
#
# inline js and html comment to hide the bash script:
# <script type="text/javascript">document.body.innerHTML=""</script><!--

clear

if ! ( grep "Raspberry Pi" /proc/cpuinfo &>/dev/null && [[ "$(uname -m)" =~ armv.* ]] ); then
	echo "Error: this script should be run on a Raspberry Pi running 32-bit Debian Bookworm"
	exit 1
fi

if ! (git --version | grep "git version") &> /dev/null; then
	sudo apt update
	sudo apt install -y git
fi

git clone --filter=tree:0 --recurse-submodules https://github.com/bioMAPT/MAPT.git
cd MAPT
./install.sh


# HTML for home page begins here:
:<<EOF
-->
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="py-5">
      <div class="container page-content">
          {{ content }}
      </div>
    </div>

    {%- include footer.html -%}

  </body>

</html>
<!--
EOF
#-->
